.App {
  text-align: center;
  width: 500px;
  min-height: 600px;
}

.smallp {
  color: gray;
  font-size: 11px;
}

.nice-list {
  list-style-type: none;
  text-align: left;
}

.nice-list-item table {
  width: 100%;
}

.nice-list-item {
  border-bottom: 1px solid #f7f7f7;
}

.nice-list-item .btn-menu > button {
  background-color: #dddddd;
  border: none;
  border-radius: 2px;
  padding: 2px 2px 2px 2px;
  height: 20px;
  line-height: 5px;
  font-size: 10px;
  color: gray;
}

.list-content {
  max-width: 400px;
}

.truncate {
  display: block;
  width: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}